.container{
    display: grid;
    background-color: bisque;
    height: 100vh;
    width: 100vw;
  
    grid-template-areas:    "title"
                            "dealer"
                            "player"
                            "controls"
                            "status";
}

h1{
  font-family: 'Monoton', cursive;
  font-size: 4em;
}

h2{
  font-family: 'Skranji', cursive;
  font-size: 3em;
}
.mainTitle{
    grid-area: title;
    background-color: bisque;
    border: black;
    width: 100%;
    text-align: center;
}

.dealer{
    grid-area: dealer;
    /* border: black 3px; */
    background-color: burlywood;
    background-image: url("../assets/sheri-hooley-2ha8OG5bOmg-unsplash.jpg");
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
   
    display: flex;
    flex-direction: row;
    align-content: space-between;
    width: 100%;

}

.dealerText{
    border: black;
    top: 50%;
    width: 30vw;
    text-align: center;
    padding: 3px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    justify-content: space-around;
}

.dealerCards{
    border: black;
    width: 70vw;
    padding: 3px;
    display: flex;
    flex-direction: row;
}

.player{
    grid-area: player;
    border: black;
    background-color: goldenrod;
    background-image: linear-gradient(goldenrod, gold
    );
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: auto;
}

.playerText{
    border: black;
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.playerCards{
    border: black;
    width: 70vh;
}

.controls{
    grid-area: controls;
    border: black;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    padding-top: 1em;
}

.controls button{
    width: 100%;
    text-align: center;
    background-color: #ffc971;
    padding: 1em 2em;
}

.controls button:disabled {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}



.statusDiv{
    grid-area: status;
    text-align: center;
    top: 0;
}

/* Player Stats Table */
table.playerStats {
    border: 2px solid #A40808;
    background-color: #EEE7DB;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
  }
  table.playerStats td, table.playerStats th {
    border: 1px solid #AAAAAA;
    padding: 3px 2px;
  }
  table.playerStats tbody td {
    font-size: 13px;
  }
  table.playerStats thead {
    background: #cc5803;
  }
  table.playerStats thead th {
    font-size: 19px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    border-left: 2px solid #A40808;
  }
  
  table.playerStats td {
    font-size: xx-large;
  }

  .newGameModal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.838);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
  }

  .nextHandModal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
  }


  .makeModalVisible{
    visibility: visible;
    opacity: 1;
  }
  
  .modal{
    position: relative;
    background-image: linear-gradient(bisque, #FFC971);
    width: 70%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .modal button{
    padding: 10px 30px;
    background-color: #e2711d;
    color: white;
    border: none;
    cursor: pointer;
  }

  .modal-close{
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: bold;
    cursor: pointer;
  }